#grid {
    background-color: powderblue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
}